/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
$size-carousel-img: 43rem;
$size-carousel-img-md: 31rem;
$size-home-carousel-md: 37rem;
$size-carousel-img-sm: 28rem;
$size-home-carousel-sm: 35rem;

@mixin home-carousel-size{
    width: 100vw;
    max-width: 100vw;
}

body {
    //padding-top: 3rem;
    //padding-bottom: 3rem;
    color: #5a5a5a;
  }
  
  
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  
  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }
  .home_carousel{
    @include home-carousel-size;
    height: 50rem;
    background-color: #e2e2e2;
    border-radius: 0px 0px 0px 5rem;
}

  .carousel-item{
    img{
        border-radius: 0px 0px 0px 10rem;
    }    
}

.my-toggler{
  border: none !important;
  &:focus-visible{
    border: none !important;
  }
  &:focus{
    border: none !important;
    box-shadow: none;
  }
  &:active{
    border: none !important;
  }
}
  

  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: $size-carousel-img;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: $size-carousel-img;
  }

  .carousel_text{
    position: relative;
    bottom: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    color: #5a5a5a;
        &:hover{
            color: #969393;
        }
  }
  
  .btn-carousel{
    padding-left: 6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 6rem;
    visibility: hidden;
  }
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  /* rtl:begin:ignore */
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  /* rtl:end:ignore */
  
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
  }
  
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
  @mixin carousel-responsive-lg{

    .carousel-item {
      height: $size-carousel-img-md;
    }
    .carousel-item > img {
      height: $size-carousel-img-md;
    }
  
    .home_carousel{
      height: $size-home-carousel-md;
      @include home-carousel-size;
    }

  }
  @mixin carousel-responsive-md{
    .btn-carousel{

      padding-left: 4rem;
      padding-top: .5rem;
      padding-bottom: .5rem;
      padding-right: 4rem;

    }

  .carousel-item {
    height: $size-carousel-img-md;
  }
  .carousel-item > img {
    height: $size-carousel-img-md;
  }

  .home_carousel{
    height: $size-home-carousel-md;
  }

}
  

@mixin carousel-responsive-sm{
  .btn-carousel{

    padding-left: 3rem;
    padding-top: .4rem;
    padding-bottom: .4rem;
    padding-right: 3rem;

  }

  .carousel-item {
    height: $size-carousel-img-sm;
  }
  .carousel-item > img {
    height: $size-carousel-img-sm;
  }



  .home_carousel{
    height: $size-home-carousel-sm;
  }
}