.cont__icon{
    background: #333033;
    .icon{
        font-size: 1.2rem;
    }
}

.social-icons{
    position: relative;
    top: 3rem;
}

@mixin icon-responsive-md{
    .cont__icon{
        .icon{
            font-size: 1rem;
        }
    }
}
  

@mixin icon-responsive-sm{
    .cont__icon{
        .icon{
            font-size: .8rem;
        }
    }
}