$title: 'Kanit', sans-serif;
$paragraph: 'Pavanam', sans-serif;



body{
    font-family: $title;
    overflow-x: hidden;
}

.title{
    font-family: $title;
}

.paragraph{
    font-family: $paragraph;
}